/* Reset some default styles */
body, h1, p {
    font-family: Garamond, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #567191;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    list-style-type: none;
    text-align: center;
}

.navbar li {
    display: inline;
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    text-align: center;
}

/* Basic styling for the pages */
.home, .dashboard {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    justify-content: center; /* Center align content horizontally */
}

header {
    background-color: #567191;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 25px;
}

h1 {
    font-size: 50px;
}

.feature-list {
    display: flex; /* Make feature list items flex containers */
    flex-wrap: wrap; /* Allow items to wrap to the next row when necessary */
    margin-top: 20px;
    justify-content: center; /* Center align content horizontally */
}

.feature-request {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin-right: 50px; /* Add margin to separate boxes horizontally */
    padding: 50px;
    width: 300px; /* Set a fixed width for the boxes */
    border-radius: 5px; /* Add rounded corners */
}

.vote-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vote-button>button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#upvote_button {
    background-color: #4CAF50; /* Green */
}

#downvote_button {
    background-color: #f44336; /* Red */
}

.feature-request h3 {
    color: #567191;
}
