<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/styles/ProductPage.css">
</head>
<title>{{product.name}} Page</title>
<body>
  <header>
    <h1>{{product.name}}</h1>
    <p>{{product.description}}</p>
  </header>
  <main>
    <section id="product-details">
      <div class="card">
        <h2>Product name - {{ product.name }}</h2>
        <p>Created By - <a href="{{url_for('view_company',company_id=product.company_id)}}" style="text-decoration: none;">{{product.company_name}}</a></p>
        <p>Product Description - {{ product.description }}</p>
        
        <p>Tags - {{ ",".join(product['tags'])}}</p> 
        <br>
        <br>
        <h3>Features</h3>
        <ul id="feature-list">
          {% for feature in product['features'] %}
          <li>
            <h3>{{ feature.name }}</h3>
            <h4>{{ feature.description }}</h4>
            <p>{{ feature.tags }}</p>
          </li>
          {%endfor%}
        </ul>
        </div>
    </section>
  </main>
  <!-- <script src="product.js"></script> -->
</body>
</html>