<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/productfeed.css">
    <title>Feature Hunt</title>
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="Home.html" id="homeLink">Home</a></li>
            </ul>
        </nav>
    </header>

    
    <div class="dashboard" >
        
        <div class="feature-list">
            {% for product in products %}
            <a href="{{url_for('view_product',product_id=product._id)}}" style="text-decoration: none;">
            <div class="feature-request">
                <h2>{{ product.name}}</h2>
                <p>Description: {{ product.description }}</p>
                <div class="vote-button">
                    <button><a href="{{url_for('add_vote',product_id=product._id)}}">Upvote</a></button>
                    <button><a href="{{url_for('remove_vote',product_id=product._id)}}">DownVote</a></button>
                    <span>Votes: {{ product.votes }}</span>
                    <span>Views: {{ product.views }} </span>
                </div> 
            </div>
            </a>
            {% endfor %}
        </div>

    
</body>
</html>


